.u-section-1 .u-sheet-1 {
  min-height: 880px;
}

.u-section-1 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 879px;
}

.u-section-2 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-2 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-2 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 879px;
}

.u-section-3 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-3 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-3 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 881px;
}

.u-section-4 .u-image-1 {
  width: 1288px;
  height: 881px;
  margin: 0 -74px;
}

.u-section-4 .u-shape-1 {
  width: 951px;
  height: 487px;
  margin: -853px auto 0;
}

.u-section-4 .u-video-1 {
  width: 894px;
  height: 498px;
  margin: -487px 114px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 643px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 940px;
    margin-top: -615px;
  }

  .u-section-4 .u-video-1 {
    margin-right: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-4 .u-image-1 {
    width: 900px;
    height: 616px;
  }

  .u-section-4 .u-shape-1 {
    height: 347px;
    margin-top: -598px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-video-1 {
    width: 610px;
    height: 343px;
    margin-top: -343px;
    margin-right: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-4 .u-image-1 {
    width: 719px;
    height: 492px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -546px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-video-1 {
    margin-top: -415px;
    margin-right: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-4 .u-image-1 {
    width: 575px;
    height: 393px;
  }

  .u-section-4 .u-shape-1 {
    height: 219px;
    margin-top: -377px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-video-1 {
    width: 440px;
    height: 221px;
    margin-top: -222px;
    margin-right: 63px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 880px;
}

.u-section-5 .u-image-1 {
  width: 1288px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 392px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 879px;
}

.u-section-6 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-6 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-6 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-6 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 879px;
}

.u-section-7 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-7 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-7 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-7 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 879px;
}

.u-section-8 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-8 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-8 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-8 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 879px;
}

.u-section-9 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-9 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-9 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-9 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-9 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 880px;
}

.u-section-10 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-10 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-10 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-10 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-10 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 880px;
}

.u-section-11 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-11 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-11 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-11 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-11 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 880px;
}

.u-section-12 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-12 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-12 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-12 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-12 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 880px;
}

.u-section-13 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-13 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-13 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-13 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-13 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 880px;
}

.u-section-14 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-14 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-14 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-14 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-14 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 880px;
}

.u-section-15 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-15 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-15 .u-image-1 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-15 .u-image-1 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-15 .u-image-1 {
    width: 575px;
    height: 393px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 1760px;
}

.u-section-16 .u-image-1 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

.u-section-16 .u-image-2 {
  width: 1288px;
  height: 880px;
  margin: 0 -74px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-16 .u-image-1 {
    width: 940px;
    height: 642px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-16 .u-image-2 {
    width: 940px;
    height: 642px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-16 .u-image-1 {
    width: 900px;
    height: 615px;
  }

  .u-section-16 .u-image-2 {
    width: 900px;
    height: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-16 .u-image-1 {
    width: 719px;
    height: 491px;
  }

  .u-section-16 .u-image-2 {
    width: 719px;
    height: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-16 .u-image-1 {
    width: 575px;
    height: 393px;
  }

  .u-section-16 .u-image-2 {
    width: 575px;
    height: 393px;
  }
}